body {
  background: url("../img/brd-top.png") 50% 0 repeat-x, url("../img/bg.jpg") 0 0 repeat;
}

.container {
  margin: 0 auto;
  width: 960px;
color: #666;
}

a {
  text-decoration: none;
}

.logo {
  float: left;
  font: 0/0 a;
  height: 36px;
  width: 35px;
}
.logo a {
  background: url("../img/logo.jpg") 0 0 no-repeat;
  display: block;
  height: 36px;
  width: 35px;
}
nav {
  margin: 0 10px;
}
nav li {
  float: left;
  margin: 0 20px;
  line-height: 36px;
}
nav a {
  color: #666;
  font-size: 14px;
  text-shadow: 0 1px 0 #fff;
}
nav a:hover {
  color: sandybrown;
}


.search-field {
  float: left;
  margin: 5px 20px 0 20px;
}
.search-field input {
  background: #fff url("../img/search.png") 5px 50% no-repeat;
  border: 1px solid #999;
  border-radius: 3px;
  color: #666;
  font-size: 12px;
  line-height: 26px;
  padding: 6px 5px 6px 23px;
}
.account-nav {
  float: left;
  list-style: none;
  margin: 8px 0 0 0;
  padding: 0;
}
.account-nav li {
  float: left;
}
.account-nav a {
  font-size: 12px;
  padding: 6px 15px;
}
.account-nav .btn-login {
  background: #fff;
  border: 1px solid #999;
  border-right: 0;
  border-radius: 3px 0 0 3px;
color: #51545C;
}
.account-nav .btn-register {
  background: #B8D361;
  border: 1px solid darkgreen;
  border-radius: 0 3px 3px 0;
  color: #fff;
}
.clear{
	clear: both;
}
.hero{
	margin: 20px auto;
	height: auto;
	/*border: 1px solid black;*/
	text-align: center;
	
}
.flowers{
	/*background-image: url("../img/flowers.png") 10px 50% no-repeat;
		height: 300px;*/
	margin: 10px 80px;
}

h2{
	font-weight: 200;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 1px;
}

h3{
	font-weight: 200;
	font-size: 14px;
}

button.download{
	margin-top: 10px;
	margin-bottom: 20px;
	height:48px;
	width: 130px;
	border:none;
	border-radius: 5px;
	background: #45b5e6;
	background: -moz-linear-gradient(top, #45b5e6 0%, #3391e0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45b5e6), color-stop(100%,#3391e0));
	background: -webkit-linear-gradient(top, #45b5e6 0%,#3391e0 100%);
	background: -o-linear-gradient(top, #45b5e6 0%,#3391e0 100%);
	background: -ms-linear-gradient(top, #45b5e6 0%,#3391e0 100%);
	background: linear-gradient(to bottom, #45b5e6 0%,#3391e0 100%);
}

button.download a{
	color: white;
	/*padding: 10px;*/
	/*margin: 10px;*/
	/*border: 1px solid orange;*/
}

.map{
	margin: 20px auto;
	height: auto;
	/*border: 1px solid red;*/
	text-align: center;
	
}

hr{
	
	width: 700px;
	-webkit-box-shadow: 0px 10px 25px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 10px 25px rgba(50, 50, 50, 1);
	box-shadow:         0px 10px 25px rgba(50, 50, 50, 1);
	margin: 10px auto;
}

.middle-search-field {
  margin: 50px auto 40px auto;
width: 200px;
text-align: center;
/*padding: 15px 430px 15px 430px;*/
/*border: 2px solid orange;*/
}
.middle-search-field input {
  /*background: #fff url("../img/search.png") 5px 50% no-repeat;*/
background: #E9EAEE;
  border: 1px solid #999;
  border-radius: 15px;
  color: #666;
  font-size: 12px;
 /* line-height: 16px;*/
  padding: 5px 15px 5px 15px;
width: 90px;
}

.map-section{
	width: 715px;
	margin: 25px auto;
}

.map-section img{
	float:left;
}

.paragraph{
	float:left;
	width: 300px;
	text-align: left;
	
}

.paragraph p{
	font-size: 10px;
}

footer{
	text-align: center;
	margin: 40px auto;
}
















































